<div class="title">
  <h1>Welcome!</h1>
  <p>
    <button class="btn btn-success"><%= link_to "NEW POST", new_welcome_path %></button>
    <!--<button id="greet-user-button" class="btn btn-success">Click me!</button>-->
  </p>
</div>

<div class="pictureBlock">
  <p>
    <% @pictures.each do |picture| %>
      <li>
        <b><%= picture.title %></b><br>
          <%= picture.content %><br>
      </li><br>
    <% end %>
  </p>
</div>

<%= javascript_pack_tag 'hello' %>
