<h1><b>New post</b></h1>
<%= form_for :picture do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.submit "SAVE" %>
  </div>
<% end %>