@import "bootstrap";
@import "bootstrap-sprockets";

.title{
  margin-top: -20px;
  height: 200px;
  align-items: center;
  text-align: center;
  background-color: #2E2F30;
}

.title h1{
  color: whitesmoke;
  padding: 30px;
  font-size: 65px;
}

.title a{
  text-decoration: none;
  color: #F7F7F7;
}

.simple-title{
  margin-top: -20px;
  height: 200px;
  align-items: center;
  text-align: center;
  background-color: steelblue;
}

.simple-title h1{
  color: whitesmoke;
  padding: 60px;
  font-size: 65px;
}

.navMenu{
  text-align: center;
  padding-top: 10px;
}
.navMenu a{
  text-decoration: none;
  font-size: 20px;
  color: #2E2F30;
  margin-left: 20px;
}

.navMenu a:hover{
  text-decoration: underline;
}

.pictureBlock li{
  padding-left: 20px;
  font-size: 20px;
}